<job group='cockpit-composer'>
{% if "fedora" in os %}
    <whiteboard>Install {{ distros[os] }}-IoT from ostree repo</whiteboard>
{% endif %}
{% if "rhel" in os %}
    <whiteboard>Install {{ distrosi[os] }}-Edge from ostree repo</whiteboard>
{% endif %}
  <recipeSet>
    <recipe kernel_options="" kernel_options_post="" ks_meta="" role="None" whiteboard="">
      <autopick random="false"/>
      <watchdog panic="None"/>
      <packages/>
      <ks_appends/>
      <repos/>
      <distroRequires>
        <and>
            <distro_name op="=" value="{{ distro_name }}"/>
          <distro_arch op="=" value="{{ arch }}"/>
        </and>
      </distroRequires>
      <hostRequires>
        <and>
          <hypervisor op="=" value=""/>
          <arch op="=" value="{{ arch }}"/>
          <cpu_count op=">=" value="4"/>
          <memory op=">=" value="4096"/>
        </and>
      </hostRequires>
      <partitions/>
      <task name="/distribution/reservesys" role="STANDALONE"/>
      <kickstart>
        text
        lang en_US.UTF-8
        keyboard us
        timezone --utc Etc/UTC

        selinux --enforcing
        rootpw --lock --iscrypted locked
        user --name=admin --groups=wheel --iscrypted --password=$6$1LgwKw9aOoAi/Zy9$Pn3ErY1E8/yEanJ98evqKEW.DZp24HTuqXPJl6GYCm8uuobAmwxLv7rGCvTRZhxtcYdmC0.XnYRSR9Sh6de3p0
        sshkey --username=admin "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCzxo5dEcS+LDK/OFAfHo6740EyoDM8aYaCkBala0FnWfMMTOq7PQe04ahB0eFLS3IlQtK5bpgzxBdFGVqF6uT5z4hhaPjQec0G3+BD5Pxo6V+SxShKZo+ZNGU3HVrF9p2V7QH0YFQj5B8F6AicA3fYh2BVUFECTPuMpy5A52ufWu0r4xOFmbU7SIhRQRAQz2u4yjXqBsrpYptAvyzzoN4gjUhNnwOHSPsvFpWoBFkWmqn0ytgHg3Vv9DlHW+45P02QH1UFedXR2MqLnwRI30qqtaOkVS+9rE/dhnR+XPpHHG+hv2TgMDAuQ3IK7Ab5m/yCbN73cxFifH4LST0vVG3Jx45xn+GTeHHhfkAfBSCtya6191jixbqyovpRunCBKexI5cfRPtWOitM3m7Mq26r7LpobMM+oOLUm4p0KKNIthWcmK9tYwXWSuGGfUQ+Y8gt7E0G06ZGbCPHOrxJ8lYQqXsif04piONPA/c9Hq43O99KPNGShONCS9oPFdOLRT3U= ostree-image-test"

        bootloader --timeout=1 --append="net.ifnames=0 modprobe.blacklist=vc4"

        network --bootproto=dhcp --device=link --activate --onboot=on

        zerombr
        clearpart --all --initlabel --disklabel=msdos
        autopart --nohome --noswap --type=plain
{% if "fedora" in os %}
        ostreesetup --nogpg --osname=fedora-iot --remote=fedora-iot --url=http://{{ builder_ip }}/repo/ --ref=fedora/32/{{ arch }}/iot
{% endif %}
{% if "rhel" in os %}
        ostreesetup --nogpg --osname=rhel-edge --remote=rhel-edge --url=http://{{ builder_ip }}/repo/ --ref=rhel/8/{{ arch }}/edge
{% endif %}
        reboot
        %post --log=/var/log/anaconda/post-install.log --erroronfail

        # no sudo password for admin user
        echo -e 'admin\tALL=(ALL)\tNOPASSWD: ALL' >> /etc/sudoers

        # Remove any persistent NIC rules generated by udev
        rm -vf /etc/udev/rules.d/*persistent-net*.rules
        # And ensure that we will do DHCP on eth0 on startup
        cat > /etc/sysconfig/network-scripts/ifcfg-eth0 &lt;&lt; EOF
        DEVICE="eth0"
        BOOTPROTO="dhcp"
        ONBOOT="yes"
        TYPE="Ethernet"
        PERSISTENT_DHCLIENT="yes"
        EOF

        echo "Packages within this iot or edge image:"
        echo "-----------------------------------------------------------------------"
        rpm -qa
        echo "-----------------------------------------------------------------------"
        # Note that running rpm recreates the rpm db files which aren't needed/wanted
        rm -f /var/lib/rpm/__db*

        # remove interface config file
        rm -f /etc/sysconfig/network-scripts/ifcfg-*

        %end
      </kickstart>
    </recipe>
  </recipeSet>
</job>

