name = "container"
description = "A base rhel-edge container image"
version = "0.0.1"
modules = []
groups = []

[[packages]]
name = "python36"
version = "*"

[customizations.kernel]
name = "kernel-rt"

{% if platform == 'esxi' %}
[[packages]]
name = "open-vm-tools"
version = "*"
{% endif %}
