<?xml version="1.0" encoding="UTF-8"?>
<testsuite name="{{ostree_type[os]}} image building and installation test on {{ os }}" tests="" id="0" time="" timestamp="">
  <properties>
    <property name="os" value="{{ os }}"/>
    <property name="image" value="{{ ostree_type[os] }}"/>
  </properties>
</testsuite>
