---
name: Trigger Fedora-IoT image test

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *'

env:
  COMPOSE_URL_44: https://kojipkgs.fedoraproject.org/compose/iot/latest-Fedora-IoT-44
  COMPOSE_URL_43: https://kojipkgs.fedoraproject.org/compose/iot/latest-Fedora-IoT-43
  COMPOSE_URL_42: https://kojipkgs.fedoraproject.org/compose/iot/latest-Fedora-IoT-42

jobs:
  check-compose:
    if: github.repository == 'virt-s1/rhel-edge'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get compose ID for Fedora 42 IoT
        id: get-compose-f42
        run: |
          status=$(curl -s ${COMPOSE_URL_42}/STATUS)
          if [ "$status" != "FINISHED" ]; then
            echo "Compose status: $status - no PR needed"
            echo "need-pr-f42=false" >> $GITHUB_OUTPUT
            exit 0
          fi

          compose_id_f42=$(curl -s ${COMPOSE_URL_42}/COMPOSE_ID)
          echo "compose-id-f42=$compose_id_f42" >> $GITHUB_OUTPUT

          if grep -q "$compose_id_f42" compose/compose.f42-iot; then
            echo "This compose has been tested already"
            echo "need-pr-f42=false" >> $GITHUB_OUTPUT
            exit 0
          fi

          response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/pulls?state=open")
          if echo "$response" | grep -q "$compose_id_f42"; then
            echo "This compose is being tested now, skip it."
            echo "need-pr-f42=false" >> $GITHUB_OUTPUT
          else
            echo "This is a new compose, will trigger test soon."
            echo "need-pr-f42=true" >> $GITHUB_OUTPUT
          fi

      - name: Get compose ID for Fedora 43 IoT
        id: get-compose-f43
        run: |
          status=$(curl -s ${COMPOSE_URL_43}/STATUS)
          if [ "$status" != "FINISHED" ]; then
            echo "Compose status: $status - no PR needed"
            echo "need-pr-f43=false" >> $GITHUB_OUTPUT
            exit 0
          fi

          compose_id_f43=$(curl -s ${COMPOSE_URL_43}/COMPOSE_ID)
          echo "compose-id-f43=$compose_id_f43" >> $GITHUB_OUTPUT

          if grep -q "$compose_id_f43" compose/compose.f43-iot; then
            echo "This compose has been tested already"
            echo "need-pr-f43=false" >> $GITHUB_OUTPUT
            exit 0
          fi

          response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/pulls?state=open")
          if echo "$response" | grep -q "$compose_id_f43"; then
            echo "This compose is being tested now, skip it."
            echo "need-pr-f43=false" >> $GITHUB_OUTPUT
          else
            echo "This is a new compose, will trigger test soon."
            echo "need-pr-f43=true" >> $GITHUB_OUTPUT
          fi

      - name: Get compose ID for Fedora 44 IoT
        id: get-compose-f44
        run: |
          status=$(curl -s ${COMPOSE_URL_44}/STATUS)
          if [ "$status" != "FINISHED" ]; then
            echo "Compose status: $status - no PR needed"
            echo "need-pr-f44=false" >> $GITHUB_OUTPUT
            exit 0
          fi

          compose_id_f44=$(curl -s ${COMPOSE_URL_44}/COMPOSE_ID)
          echo "compose-id-f44=$compose_id_f44" >> $GITHUB_OUTPUT

          if grep -q "$compose_id_f44" compose/compose.f44-iot; then
            echo "This compose has been tested already"
            echo "need-pr-f44=false" >> $GITHUB_OUTPUT
            exit 0
          fi

          response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/pulls?state=open")
          if echo "$response" | grep -q "$compose_id_f44"; then
            echo "This compose is being tested now, skip it."
            echo "need-pr-f44=false" >> $GITHUB_OUTPUT
          else
            echo "This is a new compose, will trigger test soon."
            echo "need-pr-f44=true" >> $GITHUB_OUTPUT
          fi

    outputs:
      need-pr-f42: ${{ steps.get-compose-f42.outputs.need-pr-f42 }}
      compose-id-f42: ${{ steps.get-compose-f42.outputs.compose-id-f42 }}
      need-pr-f43: ${{ steps.get-compose-f43.outputs.need-pr-f43 }}
      compose-id-f43: ${{ steps.get-compose-f43.outputs.compose-id-f43 }}
      need-pr-f44: ${{ steps.get-compose-f44.outputs.need-pr-f44 }}
      compose-id-f44: ${{ steps.get-compose-f44.outputs.compose-id-f44 }}

  create-pr-f42:
    runs-on: ubuntu-latest
    needs: check-compose
    if: needs.check-compose.outputs.need-pr-f42 == 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update compose_id_42 file
        run: |
          echo "${{ needs.check-compose.outputs.compose-id-f42 }}" >> compose/compose.f42-iot

      - name: Create Pull Request for IoT 42
        id: create-pr
        uses: peter-evans/create-pull-request@v4
        with:
          title: "${{ needs.check-compose.outputs.compose-id-f42 }}"
          branch: update-compose-42-${{ needs.check-compose.outputs.compose-id-f42 }}
          base: main
          body: "${{ needs.check-compose.outputs.compose-id-f42 }}"
          commit-message: "Add compose ID ${{ needs.check-compose.outputs.compose-id-f42 }} to compose file"
          labels: |
            automated-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Add test comment to PR
        if: steps.create-pr.outputs.pull-request-number
        uses: peter-evans/create-or-update-comment@v2
        with:
          token: ${{ secrets.PAT }}
          issue-number: ${{ steps.create-pr.outputs.pull-request-number }}
          body: /test-f42-iot

  create-pr-f43:
    runs-on: ubuntu-latest
    needs: check-compose
    if: needs.check-compose.outputs.need-pr-f43 == 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update compose_id_43 file
        run: |
          echo "${{ needs.check-compose.outputs.compose-id-f43 }}" >> compose/compose.f43-iot

      - name: Create Pull Request for IoT 43
        id: create-pr
        uses: peter-evans/create-pull-request@v4
        with:
          title: "${{ needs.check-compose.outputs.compose-id-f43 }}"
          branch: cpr
          branch-suffix: random
          base: main
          body: "${{ needs.check-compose.outputs.compose-id-f43 }}"
          commit-message: "Add compose ID ${{ needs.check-compose.outputs.compose-id-f43 }} to compose file"
          labels: |
            automated-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Add test comment to PR
        if: steps.create-pr.outputs.pull-request-number
        uses: peter-evans/create-or-update-comment@v2
        with:
          token: ${{ secrets.PAT }}
          issue-number: ${{ steps.create-pr.outputs.pull-request-number }}
          body: /test-f43-iot

  create-pr-f44:
    runs-on: ubuntu-latest
    needs: check-compose
    if: needs.check-compose.outputs.need-pr-f44 == 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update compose_id_44 file
        run: |
          echo "${{ needs.check-compose.outputs.compose-id-f44 }}" >> compose/compose.f44-iot

      - name: Create Pull Request for IoT 44
        id: create-pr
        uses: peter-evans/create-pull-request@v4
        with:
          title: "${{ needs.check-compose.outputs.compose-id-f44 }}"
          branch: cpr
          branch-suffix: random
          base: main
          body: "${{ needs.check-compose.outputs.compose-id-f44 }}"
          commit-message: "Add compose ID ${{ needs.check-compose.outputs.compose-id-f44 }} to compose file"
          labels: |
            automated-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Add test comment to PR
        if: steps.create-pr.outputs.pull-request-number
        uses: peter-evans/create-or-update-comment@v2
        with:
          token: ${{ secrets.PAT }}
          issue-number: ${{ steps.create-pr.outputs.pull-request-number }}
          body: /test-f44-iot
