---
name: Package trigger

on:
  # Triggered by UMB
  repository_dispatch:
    types: [package]

jobs:
  pr-info:
    runs-on: ubuntu-latest
    steps:
      - name: Query author repository permissions
        uses: octokit/request-action@v2.x
        id: user_permission
        with:
          route: GET /repos/${{ github.repository }}/collaborators/${{ github.event.sender.login }}/permission
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # restrict running of tests to users with admin or write permission for the repository
      # see https://docs.github.com/en/free-pro-team@latest/rest/reference/repos#get-repository-permissions-for-a-user
      - name: Check if user does have correct permissions
        if: contains('admin write', fromJson(steps.user_permission.outputs.data).permission)
        id: check_user_perm
        run: |
          echo "User '${{ github.event.sender.login }}' has permission '${{ fromJson(steps.user_permission.outputs.data).permission }}' allowed values: 'admin', 'write'"
          echo "::set-output name=allowed_user::true"
    outputs:
      allowed_user: ${{ steps.check_user_perm.outputs.allowed_user }}

  rhel-8:
    needs: pr-info
    if: ${{ needs.pr-info.outputs.allowed_user == 'true' && contains(github.event.client_payload.distro, 'el8') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Prepare package test PR
        run: |
          package_rpm="${{ github.event.client_payload.rpms }}"
          echo "PACKAGE_RPM_LIST=\"$package_rpm\"" > packages/package_ci_trigger
          cat packages/package_ci_trigger

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "${{ github.event.client_payload.package_nvr }} - ${{ steps.date.outputs.date }}"
          committer: cloudkitebot <henrywangxf1@gmail.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          branch: cpr
          branch-suffix: random
          delete-branch: true
          title: "${{ github.event.client_payload.package_nvr }} - ${{ steps.date.outputs.date }}"
          labels: DO_NOT_MERGE,RHEL-8.7.0
          body: |
            Package ${{ github.event.client_payload.package_nvr }}
            - Date: ${{ steps.date.outputs.date }}

      # - name: Add a comment to trigger test workflow
      #   uses: peter-evans/create-or-update-comment@v1
      #   with:
      #     token: ${{ secrets.PAT }}
      #     issue-number: ${{ steps.cpr.outputs.pull-request-number }}
      #     body: /test-rhel-8-7

      - name: Create a project card to track compose test result
        uses: peter-evans/create-or-update-project-card@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          project-name: Packages
          column-name: ${{ github.event.client_payload.package_name }}
          issue-number: ${{ steps.cpr.outputs.pull-request-number }}

  rhel-9:
    needs: pr-info
    if: ${{ needs.pr-info.outputs.allowed_user == 'true' && contains(github.event.client_payload.distro, 'el9') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Prepare package test PR
        run: |
          package_rpm="${{ github.event.client_payload.rpms }}"
          echo "PACKAGE_RPM_LIST=$package_rpm" > packages/package_ci_trigger
          cat packages/package_ci_trigger

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "${{ github.event.client_payload.package_nvr }} - ${{ steps.date.outputs.date }}"
          committer: cloudkitebot <henrywangxf1@gmail.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          branch: cpr
          branch-suffix: random
          delete-branch: true
          title: "${{ github.event.client_payload.package_nvr }} - ${{ steps.date.outputs.date }}"
          labels: DO_NOT_MERGE,RHEL-9.1.0
          body: |
            Package ${{ github.event.client_payload.package_nvr }}
            - Date: ${{ steps.date.outputs.date }}

      # - name: Add a comment to trigger test workflow
      #   uses: peter-evans/create-or-update-comment@v1
      #   with:
      #     token: ${{ secrets.PAT }}
      #     issue-number: ${{ steps.cpr.outputs.pull-request-number }}
      #     body: /test-rhel-9-1

      - name: Create a project card to track compose test result
        uses: peter-evans/create-or-update-project-card@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          project-name: Packages
          column-name: ${{ github.event.client_payload.package_name }}
          issue-number: ${{ steps.cpr.outputs.pull-request-number }}
