---
name: Fedora compose trigger

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *'
    - cron: '0 16 * * *'

env:
  COMPOSE_URL_rawhide: https://download-cc-rdu01.fedoraproject.org/pub/fedora/linux/development/rawhide
  COMPOSE_URL_F36: https://download-cc-rdu01.fedoraproject.org/pub/fedora/linux/releases/36
  COMPOSE_URL_F37: https://download-cc-rdu01.fedoraproject.org/pub/fedora/linux/development/37

jobs:
  check-compose:
    # Do not run this job on any fork repos
    if: github.repository == 'virt-s1/rhel-edge'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Check if fedora rawhide compose is new
        id: check_compose_id
        run: |
          curl -s "${COMPOSE_URL_rawhide}/COMPOSE_ID" --output COMPOSE_ID
          COMPOSE_ID=$(cat COMPOSE_ID)
          TESTED_COMPOSE=( $( cat compose/compose.fedora ) )
          if [[ " ${TESTED_COMPOSE[*]} " =~ "$COMPOSE_ID" ]]; then
              COMPOSE_ID="false"
          fi

          if [[ "$COMPOSE_ID" != "false" ]]; then
              OSBUILD_VERSION=$(curl -s "${COMPOSE_URL_rawhide}/Everything/x86_64/os/Packages/o/" | grep -ioE ">osbuild-[0-9].*<" | tr -d "><")
              OSBUILD_COMPOSER_VERSION=$(curl -s "${COMPOSE_URL_rawhide}/Everything/x86_64/os/Packages/o/" | grep -ioE ">osbuild-composer-[0-9].*<" | tr -d "><")
              COMPOSER_CLI_VERSION=$(curl -s "${COMPOSE_URL_rawhide}/Everything/x86_64/os/Packages/w/" | grep -ioE ">weldr-client-[0-9].*<" | tr -d "><")
              echo "::set-output name=osbuild_version::$OSBUILD_VERSION"
              echo "::set-output name=osbuild_composer_version::$OSBUILD_COMPOSER_VERSION"
              echo "::set-output name=composer_cli_version::$COMPOSER_CLI_VERSION"
          else
              echo "::set-output name=osbuild_version::Null"
              echo "::set-output name=osbuild_composer_version::Null"
              echo "::set-output name=composer_cli_version::Null"
          fi

          echo "::set-output name=rawhide_compose::$COMPOSE_ID"

      - name: Check if fedora 37 compose is new
        id: check_compose_id_f37
        run: |
          curl -s "${COMPOSE_URL_F37}/COMPOSE_ID" --output COMPOSE_ID_F37
          COMPOSE_ID_F37=$(cat COMPOSE_ID_F37)
          TESTED_COMPOSE_F37=( $( cat compose/compose.f37 ) )
          if [[ " ${TESTED_COMPOSE_F37[*]} " =~ "$COMPOSE_ID_F37" ]]; then
              COMPOSE_ID_F37="false"
          fi

          if [[ "$COMPOSE_ID_F37" != "false" ]]; then
              OSBUILD_VERSION_F37=$(curl -s "${COMPOSE_URL_F37}/Everything/x86_64/os/Packages/o/" | grep -ioE ">osbuild-[0-9].*<" | tr -d "><")
              OSBUILD_COMPOSER_VERSION_F37=$(curl -s "${COMPOSE_URL_F37}/Everything/x86_64/os/Packages/o/" | grep -ioE ">osbuild-composer-[0-9].*<" | tr -d "><")
              COMPOSER_CLI_VERSION_F37=$(curl -s "${COMPOSE_URL_F37}/Everything/x86_64/os/Packages/w/" | grep -ioE ">weldr-client-[0-9].*<" | tr -d "><")
              echo "::set-output name=osbuild_version_f37::$OSBUILD_VERSION_F37"
              echo "::set-output name=osbuild_composer_version_f37::$OSBUILD_COMPOSER_VERSION_F37"
              echo "::set-output name=composer_cli_version_f37::$COMPOSER_CLI_VERSION_F37"
          else
              echo "::set-output name=osbuild_version_f37::Null"
              echo "::set-output name=osbuild_composer_version_f37::Null"
              echo "::set-output name=composer_cli_version_f37::Null"
          fi

          echo "::set-output name=f37_compose::$COMPOSE_ID_F37"

    outputs:
      rawhide_compose: ${{ steps.check_compose_id.outputs.rawhide_compose }}
      osbuild_version: ${{ steps.check_compose_id.outputs.osbuild_version }}
      osbuild_composer_version: ${{ steps.check_compose_id.outputs.osbuild_composer_version }}
      composer_cli_version: ${{ steps.check_compose_id.outputs.composer_cli_version }}
      f37_compose: ${{ steps.check_compose_id_f37.outputs.f37_compose }}
      osbuild_version_f37: ${{ steps.check_compose_id_f37.outputs.osbuild_version_f37 }}
      osbuild_composer_version_f37: ${{ steps.check_compose_id_f37.outputs.osbuild_composer_version_f37 }}
      composer_cli_version_f37: ${{ steps.check_compose_id_f37.outputs.composer_cli_version_f37 }}

  fedora-rawhide:
    needs: check-compose
    if: ${{ needs.check-compose.outputs.rawhide_compose != 'false' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Add new compose id in compose.fedora
        run: |
          compose_id="${{ needs.check-compose.outputs.rawhide_compose }}"
          echo $compose_id >> compose/compose.fedora
          cat compose/compose.fedora

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "${{ needs.check-compose.outputs.rawhide_compose }} - ${{ steps.date.outputs.date }}"
          committer: cloudkitebot <henrywangxf1@gmail.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          branch: cpr
          branch-suffix: random
          delete-branch: true
          title: "${{ needs.check-compose.outputs.rawhide_compose }} - ${{ steps.date.outputs.date }}"
          labels: auto-merge,fedora-rawhide
          body: |
            Fedora rawhide compose ${{ needs.check-compose.outputs.rawhide_compose }}
            - Date: ${{ steps.date.outputs.date }}
            - Compose URL: ${{ env.COMPOSE_URL_rawhide }}
            - Packages:
                - ${{ needs.check-compose.outputs.osbuild_version }}
                - ${{ needs.check-compose.outputs.osbuild_composer_version }}
                - ${{ needs.check-compose.outputs.composer_cli_version }}

      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: rebase

      - name: Add a comment to trigger test workflow
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.PAT }}
          issue-number: ${{ steps.cpr.outputs.pull-request-number }}
          body: /test-rawhide

      - name: Create a project card to track compose test result
        uses: peter-evans/create-or-update-project-card@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          project-name: Fedora Compose Test
          column-name: Fedora-rawhide
          issue-number: ${{ steps.cpr.outputs.pull-request-number }}

  fedora-37:
    needs: check-compose
    if: ${{ needs.check-compose.outputs.f37_compose != 'false' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Add new compose id in compose.f37
        run: |
          compose_id="${{ needs.check-compose.outputs.f37_compose }}"
          echo $compose_id >> compose/compose.f37
          cat compose/compose.f37

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "${{ needs.check-compose.outputs.f37_compose }} - ${{ steps.date.outputs.date }}"
          committer: cloudkitebot <henrywangxf1@gmail.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          branch: cpr
          branch-suffix: random
          delete-branch: true
          title: "${{ needs.check-compose.outputs.f37_compose }} - ${{ steps.date.outputs.date }}"
          labels: auto-merge,fedora-37
          body: |
            Fedora 37 compose ${{ needs.check-compose.outputs.f37_compose }}
            - Date: ${{ steps.date.outputs.date }}
            - Compose URL: ${{ env.COMPOSE_URL_F37 }}
            - Packages:
                - ${{ needs.check-compose.outputs.osbuild_version_f37 }}
                - ${{ needs.check-compose.outputs.osbuild_composer_version_f37 }}
                - ${{ needs.check-compose.outputs.composer_cli_version_f37 }}

      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: rebase

      - name: Add a comment to trigger test workflow
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.PAT }}
          issue-number: ${{ steps.cpr.outputs.pull-request-number }}
          body: /test-f37

      - name: Create a project card to track compose test result
        uses: peter-evans/create-or-update-project-card@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          project-name: Fedora Compose Test
          column-name: Fedora-37
          issue-number: ${{ steps.cpr.outputs.pull-request-number }}

  fedora-36:
    # Do not need check-compose and make "workflow_dispatch" work for this job
    if: github.repository == 'virt-s1/rhel-edge' && github.event.schedule != '0 16 * * *'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Get package version
        id: package_version
        run: |
          curl -s "${COMPOSE_URL_F36}/COMPOSE_ID" --output COMPOSE_ID
          COMPOSE_ID=$(cat COMPOSE_ID)

          OSBUILD_VERSION=$(curl -s "${COMPOSE_URL_F36}/Everything/x86_64/os/Packages/o/" | grep -ioE ">osbuild-[0-9].*<" | tr -d "><")
          OSBUILD_COMPOSER_VERSION=$(curl -s "${COMPOSE_URL_F36}/Everything/x86_64/os/Packages/o/" | grep -ioE ">osbuild-composer-[0-9].*<" | tr -d "><")
          COMPOSER_CLI_VERSION=$(curl -s "${COMPOSE_URL_F36}/Everything/x86_64/os/Packages/w/" | grep -ioE ">weldr-client-[0-9].*<" | tr -d "><")
          echo "::set-output name=osbuild_version::$OSBUILD_VERSION"
          echo "::set-output name=osbuild_composer_version::$OSBUILD_COMPOSER_VERSION"
          echo "::set-output name=composer_cli_version::$COMPOSER_CLI_VERSION"

          echo "::set-output name=fedora_compose::$COMPOSE_ID"

      - name: Add new compose id in compose.fedora
        run: |
          compose_id="${{ steps.package_version.outputs.fedora_compose }}"
          echo $compose_id >> compose/compose.36
          cat compose/compose.36

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "${{ steps.package_version.outputs.fedora_compose }} - ${{ steps.date.outputs.date }}"
          committer: cloudkitebot <henrywangxf1@gmail.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          branch: cpr
          branch-suffix: random
          delete-branch: true
          title: "${{ steps.package_version.outputs.fedora_compose }} - ${{ steps.date.outputs.date }}"
          labels: DO_NOT_MERGE,fedora-36
          body: |
            Fedora 36 compose ${{ steps.package_version.outputs.fedora_compose }}
            - Date: ${{ steps.date.outputs.date }}
            - Compose URL: ${{ env.COMPOSE_URL_F36 }}
            - Packages:
                - ${{ steps.package_version.outputs.osbuild_version }}
                - ${{ steps.package_version.outputs.osbuild_composer_version }}
                - ${{ steps.package_version.outputs.composer_cli_version }}

      - name: Add a comment to trigger test workflow
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.PAT }}
          issue-number: ${{ steps.cpr.outputs.pull-request-number }}
          body: /test-f36

      - name: Create a project card to track compose test result
        uses: peter-evans/create-or-update-project-card@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          project-name: Fedora Compose Test
          column-name: Fedora-36
          issue-number: ${{ steps.cpr.outputs.pull-request-number }}
